@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-click {
    animation: click .1s;
}

@keyframes click {
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}